/* .about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../assets/img/assinatura.JPEG');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
} */


/* #about::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/assinatura.JPEG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    z-index: -1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        /* color: 'white', // Cor do texto em contraste com o fundo
        textAlign: 'center',
        backgroundImage: 'url(/path_to_your_background_image.jpg)', // Caminho para a imagem de fundo
        backgroundSize: 'cover', // A imagem cobre toda a seção
        backgroundPosition: 'center', // Centraliza a imagem
        backgroundRepeat: 'no-repeat', // Evita repetição da imagem */




/* } */

.about-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.about-content {
  display: flex;
  max-width: 800px;
  margin: 0;
  gap: 20px;
  position: relative;
  z-index: 2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  align-content: center;
}

.about-text {
  flex: 1;
  text-align: left;
  max-width: 80%;
  z-index: 2;
}

.about-text h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.about-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #ddd;
  text-align: center;
}

.image-wrapper {
  z-index: 2;
  margin-top: 4rem;
}